# clock
NET "clk" 		LOC = "B8";

# display
#NET "an0"    	LOC = "F17";
#NET "an1"    	LOC = "H17";
#NET "an2"     LOC = "C18";
#NET "an3"    	LOC = "F15";

# buttons
NET "reset" 		LOC = "B18"; 

# leds
#NET "leds<0>" 	LOC = "J14"; 
#NET "leds<1>" 	LOC = "J15"; 
#NET "leds<2>" 	LOC = "K15"; 
#NET "leds<3>" 	LOC = "K14"; 
#NET "leds<4>" 	LOC = "E17"; 
#NET "leds<5>" 	LOC = "P15"; 
#NET "leds<6>" 	LOC = "F4";